@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
     font-weight: 700;
  
}

/* =========  html element style ========================= */
html{
    font-size: 62.5%;
}
ul li{

    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p,li{
    font-size: 1.6rem;
    margin-bottom: 0.5em;
    letter-spacing: 0.10em;
}
p{
    padding: 1em 0.5em;
    margin-bottom: 2rem;
}
h1,h2,h3{
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 700;
}
/* ============ utility classes================= */
.container{
    max-width: 1000px;
    width:90%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3rem;
}
.md-heading{
    font-size: 2rem;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-gray{
    color: #555;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: lowercase;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: #fff;
    border-radius: 7rem;
}
.btn-primary:hover{
    background-color: green;
    color: #ddd;
}
.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color:#e63946;
}
.bg-dark{
background-color: #263238;
}
/* =====================header style=====================================*/
header{
    position: relative;
    text-align: center;
    height:97vh;
    /* border: 20px solid rebeccapurple; */
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../img/header.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.navbar{
    /* border: 2px solid red; */
    padding: 1rem;
}

.navbar .logo{
    float: left;
    margin-top: 1rem;
    
}
.navbar .nav-items{
    float: right;
}
.navbar .nav-item{
    display: inline-block;
    padding: 1rem;
    text-transform: uppercase;
   
}
.navbar::after{
    content: '';
    display: block;
    clear: both;
}
.navbar a:link,
.navbar a:visited{
    color: #f4f4f4;
}
.navbar a{
    padding-bottom: 0.3rem;

}
.navbar a:hover{
    border-bottom: 2px solid #f4f4f4;
}

/* ================== header content styling================ */
.header-content{
    position: absolute;
    /* border: 2px solid rebeccapurple; */
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    
}
.header-contianer h1{
    text-transform: uppercase;
    font-weight: 700;

}
.header-contianer p{
    text-transform: uppercase;
    font-weight: 700;

}


/* ===============section show case style==================== */
.show-case1{
    background-color: #ddd;
    padding: 10rem 0;
    margin-bottom: 5rem;
    

}
section .show-case2{
    background-color: gray;
    padding: 10rem 0;
    
}
.row{
      height: 350px;
      background-color: #fff;
      box-shadow: 10px 10px 20px  0px #aaa;
      border-radius: 2.5em;
}
.row1{
    margin-bottom: 10rem;
}

.row1 .img-box,
.row2 .text-box{
    float: left;
    width: 50%;
}
.row::after{
    content: '';
    display: block;
    clear: both;
}

.row1 .text-box,.row2 .img-box{
    float: left;
    width: 50%;
   
}
.row .img-box{
    height: 100%;
  
    
}
.row .text-box{
    padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}




/* #################feature section##################### */
.feature{
    padding: 10rem 0;
    background-color: #1a0303;
    margin-top: 10rem ;
    margin-bottom: 5rem;
}
.box-wrapper{
    box-shadow: 10px 10px 20px  0px #1110107e;
}
.box{
    width: 33.3%;
    float: left;

    padding: 2rem;
    text-align: center;
}
/* .box1,.box2,.box3{
    float: left;
} */
.box1, .box3{
    background-color: #263238;
    color: wheat;
}
.box2{
    background-color: rgb(233, 2, 2);
    color: wheat;
}
.box-wrapper::after{
    content: '';
    display: block;
    clear: both;
}



/* ############footer ####################### */
.footer{
    background-color: #132027;
    color: wheat;
    text-align: center;
    padding: 2em;
}


.social-media i{
 margin: 1.5rem;   

}

/* ###############  about styling ##################################### */
.about{
    padding:20px;
}
.about-line{
    border-bottom: 2px solid #e63946;
   
}

/* ############about wapres####################### */
.about-warap{
    text-align: center;
    margin-top: 2rem;
}
.about-warap .left{
    float: left;
    width: 50%;
    padding-top: 3rem;
    color:white;
}
.about-warap .right{
    float: right;
    width: 50%;
    padding-top: 3rem;
    color:white;
}

.about-warap{
    content: '';
    display: block;
    clear: both;
 
}
/* .about-warap li::before{
    content: '\2713';

} */

/* #######################conts syting#################### */

.count-item{
    
    border: 2px solid rgb(90, 14, 14);
}


/* ################# end-section####################### */

/* section .end-section{
    border: 2px solid black;
}

 section .end-section .right1{
    border: 2px solid rebeccapurple;
} */
.end-section{
    background-color:#555 ;
    color:white;
    margin-bottom: 3rem;
    border-radius: 3rem;
}


.end-section .left1{
    /* border: 2px solid rebeccapurple; */
    background-color: #e63946;
    float:left;
    margin-top: 7rem;
    margin-right: 5rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
}
.end-section .right1{
    /* border: 2px solid rebeccapurple; */
    background-color: #e63946;
    float:right;
    margin-top: 7rem;
    margin-right: 8rem;
    border-radius: 3rem;
}
.end-section::after{
    content: '';
    display: block;
    clear: both;

}


/* #############contact page styling################################## */
.company{
    /* border: 2px solid red; */
    margin-top: 3rem;
    margin-bottom: 3rem;
    border: 4rem solid royalblue;
  

}
.company-L{
    /* border: 2px solid black; */
    float: left;
    width: 49%;
    background-color: #f4f4f4;
    color:black;
    margin-top:4rem ;
    

   
}
.company-img{
    width: 50%;
    margin-top: 3rem;
    object-fit: cover;
    width: 100%;
    
    
}
.company-r{
    /* border: 2px solid green; */
    margin-top:4rem ;
    float: right;
    width: 49%;
    background-color: #f4f4f4;
    
   
    
}
h1.line{
    border-bottom: 2px solid red;
}
.company::after{
    content: '';
    display: block;
    clear: both;
}
input:focus{
    padding: 3px;
    border: 2px solid rgba(0,0,0,0.5);
}
.form-conatiner{
    border: 2px solid rgb(221, 137, 11);
    padding: 20px;
    border-radius:  10px;
    background-color: rgba(38, 58, 117, 0.329) ;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,select{
 
    padding: 5px;
    width: 85%;

   
}
input[type="button"]{
    font-size: 25px;
    width: 30%;
    height: 20%;
    background-color:brown ;
    border: 2px solid rebeccapurple;
}
/* ########################## media Quries#################### */

@media(max-width:500px){
    html{
        font-size: 7px;
    }
    header{
        position: relative;
        text-align: center;
        height:97vh;
        /* border: 20px solid rebeccapurple; */
       /* background-color: linear-gradient(rgba(190,12,228,),rgba(190,12,228)); */
        /* background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
     */
    }
    .end-section .right1{
        /* border: 2px solid rebeccapurple; */
        background-color: #e63946;
        float:right;
        margin-right: 8rem;
        border-radius: 3rem;
    }
   
    .navbar .nav-items, .navbar .logo{
        float: none;
        text-align: center;
    }
    .row{
       height: auto;
       width: 100%;
    }
    .row .img-box,.row .text-box{
        float: none;
        width: 100%;
        text-align: center;
    }

    .feature .box{
        float: none;
        width: 100%;
        text-align: center;

    }

}

@media(max-width:750px){
    .row{
        height: auto;
        width: 100%;
     }
     .row .img-box,.row .text-box{
         
         width: 100%;
         text-align: center;
     }
    
}
@media(max-width:550px){
    .company-L{
        float: none;
        width: 100%;

    }
    .company-r{
        float: none;
        width: 100%;

    }
    input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
textarea,select{
 
    padding: 5px;
    width: 85%;

   
}
input[type="button"]{
    font-size: 25px;
    width: 40%;
    height: 20%;
    background-color:brown ;
    border: 2px solid rebeccapurple;
}
   

}
@media(max-width:1000px){
    .company-L{
        float: none;
        width: 100%;

    }
    .company-r{
        float: none;
        width: 100%;

    }
}
